<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <style>
        .time {
            color: green;
            margin-bottom: 0;
        }

        .code {
            display: inline-block;
            background-color: gainsboro;
            border: 1px solid black;
            padding: 5px;
            margin-top: 0;
        }
    </style>
</head>
<body>
<span id="load_date" class="time" th:text="${time}"></span>
<br>
<pre id="code_snippet" class="code"><span th:text="${code}"></span></pre>
</body>
</html>